* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@mixin title {
  font-size: 30px;
  font-family: Segoe script;
}
@mixin size-ser {
  font-size: 20px;
}

.name-title {
  text-align: center;
  & .spa {
    @include title;
  }
  & .head {
    font-size: 30px;
    padding: 0.4rem;
    margin: 5px 0px;
  }
}
.container {
  display: grid;
  grid-template-columns: 55% 45%;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  .left-content {
    & .combo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 5rem;
      & .ser-name {
        @include size-ser;
      }
    }
    & img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .right-content {
    background-color: hsl(0, 11%, 63%);
    position: relative;
    & .cont {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    & .btn {
      margin-top: 20px;
      padding: 15px;
      width: 10vw;
    }
  }
}
@mixin margin {
  margin: 8px 0px;
}
.all-services {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  margin: 30px 30px;
  padding: 7vh;
  & hr {
    width: 10%;
    @include margin;
  }
  & p {
    @include margin;
    font-size: 20px;
  }
  & button {
    @include margin;
    padding: 15px;
    width: 17vw;
    font-size: 16px;
  }
}
.outstanding {
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}
.item {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  margin: 40px 20px;
  & img {
    border-radius: 50%;
  }
  & .item1 {
    & button {
      margin: 18px 0px;
      padding: 10px;
      width: 8vw;
    }
  }
}
.reason {
  width: 80%;
  justify-content: center;
  margin: 0 auto;

  & .re {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    background-color: antiquewhite;

    & .re1 {
      text-align: center;
      padding: 20px;
    }
    & hr {
      width: 30%;
      margin: 0 auto;
      
    }
  }
}
