header {
    display: flex;
    align-items: left;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }
}