// .service-category {
//     margin: 0 10%;

//     & .title {
//         text-align: center;
//         color: #620300;
    
//     }


//     & .category-content {
//         display: flex;

//         & .services-container {
//             width: 50%;
//             margin-right: 2rem;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;

//             &.service-btn{
//                 margin: 0;
//                 padding: 0;
//                 box-sizing: border-box;
//             }
        
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             min-height: 100vh;
//             background: #cac483;
//             color: #FFF;
            
            
//             & .service {
//                 display: flex;
//                 margin-bottom: 1rem;
//                 justify-content: space-between;
//                 border: 1px dashed black;
//                 width: 100%;
//                 padding: 0.5rem 0.5rem;
//                 color: #620300;

//                 & .service-btn {
//                     margin: auto 0;
                    
//                 }
//                 &button{
//                     align-items: center;
//                     background: #5ef665;
//                     border-radius: 6px;
//                     display: flex;
//                     justify-content: center;
//                     height: 100%;
//                     width: 100%;
//                 }
//             }
            
            
//         }

//         & img {
            
               
//             }
        
//     }

// }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$roboto: 'Roboto';
$cursive_font: 'Satisfy';
$round:'Varela Round';
$cta: #fe8033;
$light_bg: #fff;
$text: #2d343e;
$white:#b1a684;
$bg: #f7f6ed;

body{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: $round;
}

.dFlex{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    padding: 30px 50px 20px 50px;
    box-sizing: border-box;
    background-color: $bg;
}

h1{
    color: $white;
}
.main_content{
    @extend .dFlex;
    position:relative;
    width: 70%;
    height: 100%;
    margin: 50px auto;
    padding:50px 0 0;
    box-sizing: border-box;
    justify-content:space-between;
    flex-wrap:wrap;
    background-color: #b1a684;
    h3{
        position: absolute;
        left:0;
        top:0;
        color:#fff;
        font-size:10.5vw;
    }
    .card{
        width: 30%;
        border-radius: 15px;
        @extend .dFlex;
        flex-direction: column;
        position: relative;
        transform: scale(.8);
        transition: all .3s ease-in-out;
        margin-bottom: 50px;
        border-radius: 10%;
        border: 1px solid #b1154a;

        .card_img{
            margin-top:-5vw;
            img{width: 350px}
        }
        
    }
    .card_header{
        @extend .dFlex;
        flex-direction: column;
        color:#fff;
        margin: 25px 0;
        h2{
            font-size:21px;
        }
        p{
            font-size:18px;
            text-align: center;
            color:#fff;
            margin:8px 0;
        }
        price{
            font-size: 25px;
            color: $cta;
            span {
                font-size: 15px ;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
    .card:hover{
        background-color: $light_bg;
        transform: scale(1.1);
        cursor: pointer;
    }
    .card:hover{
        .btn{
            background-color: $cta;
            color:$white;

        }
    }
}
.btn{
    width: 130px;
    height: 35px;
    font-size: 21px;
    border-radius: 35px;
    background-color:$text;
    color: rgba ($white, .5);
    @extend .dFlex;
    cursor: pointer;
    position: relative;
    transition: background-color .3s ease;
    overflow: hidden;    

}
